body {
  font-family: system-ui;
  margin: 0;
  font-variant: small-caps;
  display: flex;
  flex-direction: row-reverse;
}
section, aside {
	margin:1rem;
}
aside {
	width:20rem;
}
a {
	display:list-item;
	list-style:decimal inside;
}
